language: go

go:
  - 1.3
  - tip

install:
  - git submodule update --init --recursive
  - make ci
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/axw/gocov/gocov

script:
  - make test
  - go test -v ./... -race -covermode=count -coverprofile=coverage.out 
  - $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
